.mainContainerDetailing {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    scrollbar-width: thin;



    .mainContainer {
        width: 100vw;
        height: auto;

        

        .VideoInfo {
            width: 100vw;
            height: 100vh;
            position: relative;


            .videoPlay {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: -1;
            }

            .aboutDetailing {
                width: 100vw;
                height: 100vh;
                background: rgba(128, 128, 128, 0.6);
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                .imgLogo {
                    width: 35%;
                    height: auto;
                    opacity: 1;
                }
            }
        }



        
    }
}