.mainContainerServices {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    scrollbar-width: thin;

    .mainServices {
        width: 100vw;
        height: auto;
        position: relative;



        .packages {
            width: 100vw;
            height: 100vh;
            /* background: url('../../assets/taller2.png'), no-repeat;
            background-size: cover; */
            background: rgb(143, 143, 143);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px;
            position: relative;

            .package {
                width: 400px;
                height: 600px;
                box-shadow: 0 0 10px rgb(0, 0, 0);
                border-radius: 10px;
                position: relative;
                padding: 10px;
                background: none;
                backdrop-filter: blur(10px);
                background: rgba(255, 255, 255, 0.63);

                .imgPackage {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 300px;
                    height: auto;

                    @media (width <=500px) {
                        width: 300px;
                    }

                    @media (width <=400px) {
                        width: 200px;
                    }
                }

                .containerList {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    padding: 100px 20px 5px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .lista {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .description {
                            list-style-type: none;
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            font-size: 1rem;

                            .iconD {
                                width: 30px;
                                height: 30px;
                            }

                            @media (width <= 500px){
                                font-size: 0.9rem;
                            }
                            @media (width <= 400px){
                                font-size: 0.8rem;
                            }
                        }
                    }

                    .price {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        align-items: center;

                        .priceContainer {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 20px;

                            .total_Prices {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                p {
                                    font-size: 1rem;

                                    @media (width <=500px) {
                                        font-size: 1rem;
                                    }

                                    @media (width <=400px) {
                                        font-size: 0.8rem;
                                    }
                                }

                                span {
                                    font-size: 1rem;

                                    @media (width <=500px) {
                                        font-size: 1rem;
                                        font-weight: 300;
                                    }
                                    @media (width <=400px) {
                                        font-size: 0.8rem;
                                    }
                                }
                            }
                        }

                        .btn_Appointment {
                            width: 200px;
                            height: 30px;
                            background: rgb(255, 255, 255);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 10px;
                            opacity: 0.5;
                            transition: opacity 0.2s linear;


                            .btn_Appointment_Package {
                                width: 200px;
                                height: 30px;
                                border: none;
                                text-align: center;
                                font-size: 1.5rem;
                                font-family: 'local';
                                color: transparent;
                                background-clip: text;
                                -webkit-background-clip: text;
                                background-image: url(https://media.giphy.com/media/xULW8Fw2ZhznUptrYA/giphy.gif);
                                background-size: cover;
                                cursor: pointer;
                            }

                            &:hover {
                                opacity: 1;
                            }
                        }


                    }

                    @media (width <=500px) {
                        padding: 120px 0 10px 0;
                        gap: 5px;
                    }

                    @media (width <=400px) {
                        padding: 70px 0 10px 0;
                        gap: 5px;
                    }

                    @media (width <=375px) and (height <=670px) {
                        padding: 50px 0 10px 0;
                        gap: 5px;
                    }
                }

                @media (width <=500px) {
                    width: 99%;
                    padding: 5px;
                }

                @media (width <=395px) {
                    width: 80%;
                    height: 70%;
                }
            }

            .extra_Selector {
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0;
                font-family: 'local';
                font-size: 1.4rem;
                text-decoration: none;
                color: black;
                transition: transform 0.2s linear;

                .down_arrow {
                    width: 50px;
                    height: 50px;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }

            @media (width <=500px) {
                padding: 5px;
            }
        }


        .extra_services {
            width: 100vw;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-y: auto;

            .packages_Selector {
                width: fit-content;
                height: auto;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                font-family: 'local';
                font-size: 1.4rem;
                text-decoration: none;
                color: black;
                z-index: 10000;
                transition: transform 0.2s linear;

                .up_arrow {
                    width: 50px;
                    height: 50px;
                }

                &:hover {
                    transform: scale(1.1);
                }

                @media (width < 800px) {
                    text-shadow: 0 0 3px white;
                }
            }

            .extras_Container {
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding: 30px;
                gap: 20px;
                overflow-x: hidden;
                overflow-y: auto;

                .extra_item {
                    width: 300px;
                    height: 250px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    box-shadow: 0 0 5px black;
                    border-radius: 10px;
                    transition: transform 0.2s linear;

                    .extra_image {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 0;
                        border-radius: 10px;
                    }

                    .des_extra {
                        width: 100%;
                        height: 50px;
                        background: rgba(255, 255, 255, 0.514);
                        position: absolute;
                        z-index: 1000;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media (width <=500px) {
                            font-size: 0.9rem;
                        }
                    }

                    &:hover {
                        transform: scale(1.1);
                    }

                    @media (width <=700px) {
                        width: 300px;
                        height: 200px;
                    }

                    @media (width <=500px) {
                        width: 280px;
                        height: 180px;
                    }
                }

                @media (width <=500px) {
                    padding: 100px 0 50px 0;
                }
            }

            @media (width <=1000px) {
                width: 100dvw;
                height: 100dvh;
                padding: 350px 0 0 0;
            }

            @media (width <=700px) {
                width: 100dvw;
                height: 100dvh;
                padding: 100px 0 0 0;
            }

            @media (width <=500px) {
                width: 100dvw;
                height: 100dvh;
                padding: 400px 0 0 0;
            }

            @media (width <=395px) {
                width: 100dvw;
                height: 100dvh;
                padding: 550px 0 0 0;
            }
        }
    }
}